{% extends "base.html.j2" %}


{% block content %}
<a href="{% url 'index' %}">Back to main page</a>
<hr>
<h1>Create a notification manually</h1>
<hr>
<form action="{% url 'create notification' %}" method="POST" enctype="multipart/form-data">

{{ notification_form.as_p }}
<br>
<button class="btn btn-primary" type="submit">submit</button>
</form>

{% endblock content %}